.body{
	width: 100%;
	height:auto;
	margin: 0 auto;
}
.iconb{
   width: 2em; height: 2em;
   vertical-align: -0.5em;
   fill: currentColor;
   overflow: hidden;
   color: #b5b5b5;
}
.menu{
	width: 100%;
	height: auto;
	background-color: #ffffff;
}
.menu{
    margin:0px auto;
    position:fixed;/*固定作用*/
    bottom: 0px;
    z-index:9999;
  }
.menu .iconb{
	width: 100%
	
}
.nav li{
	width: 20%;
	margin: 0 auto;
}
.menu a{
	border: 0px;
}
.menu-text{
	text-align: center;
	
}
.menu-text a{
	color:#505050;
}
#searchbox{
	width: 70%;
	margin-left: 15%;
	float: left;
}
.msg{
	float: right;
	height: 32px;
	margin-right: 2%;
}
.lingdang{
	margin-top: 10%;
}

.menu-top{
	margin-top: 5%;
}
.nav-se{
	margin-top: 5%;
}
.nav-se li{
	width: 33%;
	float: left;
	
}
.nav-se .iconb{
	width: 100%;
	height: 4em;
	color: #8dbae5;
}
.nologin img{
	margin: 0 auto;
 	
}
.text-top{
	text-align: center;
}
.nologin{
	margin-bottom: 30px;
}
.panel img{
	float: left;
}
.panel h3{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}