.body{
	width: 100%;
	height: 1500px;
	margin: 0 auto;
}
.iconb{
   width: 2em; height: 2em;
   vertical-align: -0.5em;
   fill: currentColor;
   overflow: hidden;
   
}
.menu{
	width: 100%;
	height: auto;
}
.menu .iconb{
	width: 100%
	
}
.nav li{
	width: 20%;
	margin: 0 auto;
}
.menu-text{
	text-align: center;
}
#searchbox{
	width: 70%;
	margin-left: 15%;
	float: left;
}
.msg{
	float: right;
	height: 32px;
	margin-right: 2%;
}
.lingdang{
	margin-top: 10%;
}

.menu-top{
	margin-top: 5%;
}
.nav-se{
	margin-top: 5%;
}
.nav-se li{
	width: 33%;
	float: left;
}
.nav-se .iconb{
	width: 100%;
	height: 4em;

}
