

.btn{
	background-color: white;
}

.backIcon{
		position:absolute;
		top:1%;
		left:5px;
		width:10%;
		
	}
		

		.nav-justified li{
			float:left ;
			width:20%;
		}
		.guide{overflow:auto;}
		
		.choose{
    width:800%;
    height:5%;
    padding-left:40%;
    margin-bottom: 2%;
    margin-top:2%;
    background-color:white;
    
    float:left
  }
 .choose button{opacity:0.5;
       }

     .guide{
     	width:100%;
     }
.ordPic{
	
}
.call{
	float:right;
	margin-top: 2%;
}

.ordDetailsBlue{
		width:100%;
		
		overflow:auto;
		border:0px solid red;
		background-image:url(imgs/blue.png);
	}
	.ordDetailsOrg{
		width:100%;
		
		overflow:auto;
		border:0px solid red;
		background-image:url(imgs/org.png);
	}

	.ordDetailsYellow{
		width:100%;
		
		overflow:auto;
		border:0px solid red;
		background-image:url(imgs/yellow.png);
	}

	.ordDetailsGreen{
		width:100%;
		
		overflow:auto;
		border:0px solid red;
		background-image:url(imgs/green.png);
	}
.box1{
	padding:1%;
	width:78%;
	float:left;
	border:0px solid yellow;
	padding-left :5%;
}
.box2{
	width:20%;
	float:left;
	border:0px solid blue;
	padding:5%;
	padding-top:10%;

	
}

.more{
	width:100%;
	border :0px solid ;
}
.btn{
	border-radius:25px;
}
.jude{
	float:right ;
	padding-right:2%;
	padding-bottom:2%;
}

}
}
}
}
	
}
